@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; /* so the gif, counter, and text stack */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #000 url('load-bg.png') center/cover no-repeat;
    z-index: 100000000;
    transition: transform 2s ease-in-out;
}
.loader-gif img {
    width: 300px; /* Adjust size of GIF */
    image-rendering: pixelated;
    height: auto;
    margin-bottom: 0px;
}

.preloader.active {
    transform: translateY(-100vh);
    transition-delay: 1s;
}
.counter {
    color: #000;
    font-size: 0.1em;
    font-weight: 700;
    z-index: 1;
    margin-bottom: 10px;
}
.loading-text {
    color: #000;
    font-size: 0.1em;
    text-align: center;
}
.hide {
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}
